@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.section-page__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #444444;
    margin: 0px;
}

.section-item__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #444444;
}

.section-page__subtitle,
.section-page__description,
.section-item__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.5px;
    text-indent: 15px;
    color: #444444;
}

.section-page {
    padding-top: 8px;
    padding-left: 21px;
}

.section-page__subtitle {
    padding-top: 17px;
    width: 476px;
}

.section-page__description {
    padding-top: 9px;
    width: 467px;
}

.section-item__subtitle {
    padding-top: 1px;
    width: 468px;
}

.section-item {
    padding-top: 12px;
    padding-left: 21px;
}