@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FuturaNew";
    src: url("../fonts/FuturaNew.woff2") format("woff2"), url("../fonts/FuturaNew.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Georgia";
    src: url("../fonts/Georgia.woff2") format("woff2"), url("../fonts/Georgia.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "GothamBold";
    src: url("../fonts/GothamBold.woff2") format("woff2"), url("../fonts/GothamBold.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



body {
    margin: 0px;
    overflow-x: hidden;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width:768px) {
    .container {
        width: 320px;
        margin: 0 auto;
    }

    .header-bg {
        background-color: #000;
    }

    .header-wraper-link {
        font-family: 'GothamPro';
        font-size: 15px;
        line-height: 11px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        position: relative;
        padding-left: 38px;
        padding-top: 23px;
        font-weight: bold;
    }

    .header-wraper {
        height: 58px;
        display: flex;
    }

    .header-wraper-link::before {
        content: '';
        position: absolute;
        background-image: url(../img/white-heart.svg);
        background-repeat: no-repeat;
        width: 20px;
        height: 25px;
        top: 19px;
        left: 14px;
    }

    .header-wraper-nav__breadcrumbs,
    .header-wraper-nav__button-laptop {
        display: none;
    }

    .header-wraper-nav__button {
        position: relative;
        width: 33px;
        height: 20px;
        margin-left: 125px;
        margin-top: 19px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .header-wraper-nav__button::before {
        content: '';
        position: absolute;
        border: 2px solid #fff;
        width: 28px;
        top: 15px;
        left: 0px;
        border-radius: 6%;
    }

    .header-wraper-nav__button::after {
        content: '';
        position: absolute;
        border: 2px solid #fff;
        width: 28px;
        top: -1px;
        left: 0px;
        border-radius: 6%;
    }



    .header-contacts-products-wraper {
        padding-left: 8px;
    }

    .header-contacts-login-user,
    .header-contacts-products__cart {
        font-family: 'GothamPro';
        font-size: 10px;
        line-height: 10px;
        text-align: right;
        color: #000000;
        opacity: 0.5;
        font-weight: bold;
        margin: 0px;
    }

    .header-contacts-login-user-first,
    .header-contacts-products__cost-first {
        font-family: 'GothamPro';
        font-size: 14px;
        line-height: 14px;
        text-align: right;
        color: #000000;
        font-weight: bold;
        text-transform: capitalize;
        margin: 0px;
    }

    .header-contacts-products__cost-first {
        padding-top: 2px;
    }

    .header-contacts-login-user-first {
        text-decoration: none;
        padding-left: 56px;
    }

    .header-contacts-login-user {
        width: 101px;
    }

    .header-contacts-login {
        padding-top: 30px;
    }

    .header-contacts-products__cart {
        width: 95px;
    }

    .header-contacts__img {
        background-repeat: no-repeat;
        background-color: #F3F3F3;
        width: 111px;
        height: 53px;
    }

    .header-contacts {
        display: flex;
    }

    .header-contacts-logo {
        background-color: #F3F3F3;
        padding-top: 8px;
        padding-bottom: 11px;
    }

    .header-contacts-products {
        padding-top: 30px;
    }

    .header-wraper-nav__list-tablet {
        display: none;
    }

    .section-wraper {
        display: none;
    }

    .header-contacts-login-user-second,
    .header-contacts-products__cost-second,
    .header-contacts-phone,
    .header-contacts-mail,
    .header-contacts-products-wraper-link {
        display: none;
    }

    .section {
        position: relative;
    }

    .section::before {
        content: '';
        position: absolute;
        border-top: 1px solid #EAEBED;
        width: 100%;
        top: 0px;
        left: 0px;
    }

    .header-contacts-wraper,
    .section-wraper-list-laptop {
        display: none;
    }

    .footer {
        display: none;
    }
}

@media (min-width:769px) and (max-width:1280px) {

    .container {
        width: 740px;
        margin: 0 auto;
    }

    .header-bg {
        background-color: #000;
    }

    .header-wraper-link,
    .header-wraper-nav__button-laptop,
    .section-wraper-list-laptop {
        display: none;
    }

    .header-wraper-nav__button {
        display: none;
    }

    .footer {
        display: none;
    }

    .header-contacts-phone,
    .header-contacts-mail,
    .header-contacts-products__cost-second,
    .header-contacts-login-user-second,
    .header-contacts-phone-call__laptop {
        display: none;
    }


    .item {
        font-family: 'GothamPro';
        font-size: 11px;
        line-height: 11px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
        font-weight: bold;
    }

    .header-wraper-nav__list {
        display: none;
    }

    .header-wraper-nav__list-tablet {
        display: flex;
        margin: 0px;
        padding: 0px;
        padding-top: 23px;
        padding-left: 2px;
        height: 40px;
        list-style: none;
    }

    .header-wraper-nav__item,
    .header-wraper-nav__item-third,
    .header-wraper-nav__item-fourth,
    .header-wraper-nav__item-second,
    .header-wraper-nav__item-first {
        padding-left: 18px;
    }


    .header-contacts-phone-city,
    .header-contacts-mail-text {
        font-family: 'GothamPro';
        font-size: 13px;
        line-height: 10px;
        color: #000000;
        opacity: 0.5;
        font-weight: bold;

    }

    .header-contacts-mail-text {
        margin: 0px;
        padding-bottom: 6px;
    }

    .header-contacts-phone-city {
        margin: 0px;
        padding-bottom: 5px;
    }

    .header-contacts-phone-call,
    .header-contacts-mail-link {
        font-family: 'GothamPro';
        font-size: 15px;
        line-height: 14px;
        text-transform: uppercase;
        color: #000000;
        text-decoration: none;
        font-weight: bold;
    }

    .header-contacts-mail-link {
        text-transform: lowercase;
    }

    .header-contacts-login-user,
    .header-contacts-products__cart {
        font-family: 'GothamPro';
        font-size: 11px;
        line-height: 12px;
        text-align: right;
        color: #000000;
        opacity: 0.5;
        font-weight: bold;

    }

    .header-contacts-products__cart {
        margin: 0px;
    }

    .header-contacts-login-user-first,
    .header-contacts-products__cost-first {
        font-family: 'GothamPro';
        font-size: 15px;
        line-height: 18px;
        text-align: right;
        color: #000000;
        text-decoration: none;
        text-transform: capitalize;
        font-weight: bold;
    }

    .header-contacts-products__cost-first {
        margin: 0px;
    }

    .header-contacts-products {
        padding-top: 30px;
        padding-left: 37px;
    }

    .header-contacts-login-user-first {
        padding-left: 52px;
    }

    .header-contacts {
        display: flex;
    }

    .header-contacts-wraper {
        padding-left: 34px;
        padding-top: 12px;
    }

    .header-contacts-mail-tablet {
        padding-top: 7px;
        position: relative;
    }

    .header-contacts-mail-tablet::before {
        content: '';
        position: absolute;
        background-image: url(../img/letter.svg);
        background-repeat: no-repeat;
        width: 20px;
        height: 28px;
        top: 9px;
        left: -29px;
    }

    .header-contacts-logo {
        padding-left: 96px;
    }

    .header-contacts-login {
        padding-left: 43px;
        padding-top: 30px;
        position: relative;
    }

    .header-contacts-login::before {
        content: '';
        position: absolute;
        background-image: url(../img/person.svg);
        width: 21px;
        height: 20px;
        top: 33px;
        left: 149px;
        background-repeat: no-repeat;
    }

    .header-contacts-login-user {
        margin: 0px;
    }

    .header-contacts__img {
        background-color: #F3F3F3;
        padding-top: 16px;
        padding-bottom: 11px;
    }

    .header-contacts-phone-tablet {
        position: relative;
    }

    .header-contacts-phone-tablet::before {
        content: '';
        position: absolute;
        background-image: url(../img/phone.svg);
        top: 3px;
        left: -27px;
        width: 26px;
        height: 26px;
        background-repeat: no-repeat;
    }

    .header-contacts-products-wraper-link__cart {
        position: relative;
    }

    .header-contacts-products-wraper-link__cart::before {
        content: '';
        position: absolute;
        background-image: url(../img/cart.svg);
        width: 27px;
        height: 25px;
        top: -29px;
        left: 106px;
        background-repeat: no-repeat;
    }

    .furniture {
        font-family: 'GothamPro';
        font-size: 11.3023px;
        line-height: 11px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        text-decoration: none;
    }

    .section-wraper-list {
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding-left: 0px;
        padding-top: 10px;
        margin: 0px;
    }

    .section-wraper {
        padding-top: 54px;
    }

    .section {
        position: relative;
    }

    .section::before {
        content: '';
        position: absolute;
        border-top: 1px solid #EAEBED;
        width: 100%;
        top: -4px;
        left: 0px;
    }

    .section-wraper-list-table {
        position: relative;
    }

    .section-wraper-list-table::before {
        content: '';
        position: absolute;
        background-image: url(../img/tables.svg);
        width: 37px;
        height: 37px;
        top: -45px;
        left: 5px;
        background-repeat: no-repeat;
    }

    .section-wraper-list-couch {
        position: relative;
    }

    .section-wraper-list-couch::before {
        content: '';
        position: absolute;
        background-image: url(../img/couch.svg);
        width: 37px;
        height: 37px;
        top: -44px;
        left: 9px;
        background-repeat: no-repeat;
    }

    .section-wraper-list-seat {
        position: relative;
    }

    .section-wraper-list-seat::before {
        content: '';
        position: absolute;
        background-image: url(../img/seat.svg);
        width: 37px;
        height: 37px;
        top: -43px;
        left: 12px;
        background-repeat: no-repeat;
    }

    .section-wraper-list-sofa {
        position: relative;
    }

    .section-wraper-list-sofa::before {
        content: '';
        position: absolute;
        background-image: url(../img/sofa.svg);
        width: 57px;
        height: 37px;
        top: -42px;
        left: 0px;
        background-repeat: no-repeat;
    }

    .section-wraper-list-keep {
        position: relative;
    }

    .section-wraper-list-keep::before {
        content: '';
        position: absolute;
        background-image: url(../img/closer.svg);
        width: 37px;
        height: 37px;
        top: -42px;
        left: 13px;
        background-repeat: no-repeat;
    }

    .section-wraper-list-light {
        position: relative;
    }

    .section-wraper-list-light::before {
        content: '';
        position: absolute;
        background-image: url(../img/lamp.svg);
        width: 37px;
        height: 37px;
        top: -43px;
        left: 0px;
        background-repeat: no-repeat;
    }

    .section-wraper-list-decor {
        position: relative;
    }

    .section-wraper-list-decor::before {
        content: '';
        position: absolute;
        background-image: url(../img/decor.svg);
        width: 37px;
        height: 37px;
        top: -42px;
        left: 1px;
        background-repeat: no-repeat;
    }


}

@media (min-width:1280px) {
    a:hover {
        opacity: 0.7;
    }

    .container {
        width: 1134px;
        margin: 0 auto;
    }

    .header-wraper-nav__list-tablet,
    .header-contacts-wraper,
    .header-contacts-login-user-first,
    .header-contacts-products__cost-first,
    .header-wraper-link,
    .header-wraper-nav__button,
    .section-wraper-list {
        display: none;
    }

    .item {
        font-family: 'GothamPro';
        font-size: 11px;
        line-height: 11px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
        font-weight: bold;
    }

    .header-bg {
        background-color: #000;
    }

    .header-wraper-nav__button-laptop {
        position: relative;
        width: 27px;
        height: 13px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-left: 238px;
        margin-top: 14px;
        margin-left: 333px;
    }

    .header-wraper-nav__button-laptop::before {
        content: '';
        position: absolute;
        border: 1px solid #fff;
        width: 25px;
        top: 12px;
        left: 0px;
        border-radius: 6%;
        background-color: #fff;
    }

    .header-wraper-nav__button-laptop::after {
        content: '';
        position: absolute;
        border: 1px solid #fff;
        width: 25px;
        top: 0px;
        left: 0px;
        border-radius: 6%;
        background-color: #fff;
    }

    .header-wraper-nav__list {
        display: flex;
        list-style: none;
        padding-left: 0px;
        margin: 0px;
        padding-top: 11px;
    }

    .header-wraper-nav {
        display: flex;
        position: relative;
    }

    .header-wraper-nav::before {
        content: 'МЕНЮ';
        position: absolute;
        font-family: 'GothamPro';
        font-size: 11px;
        line-height: 11px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
        font-weight: bold;
        text-align: left;
        top: 16px;
        left: 1055px;

    }

    .header-wraper-nav__item-first {
        padding-left: 44px;
    }

    .header-wraper-nav__item-second,
    .header-wraper-nav__item-third-delivery,
    .header-wraper-nav__item-fourth {
        padding-left: 44px;
    }

    .header-wraper-nav__breadcrumbs {
        padding-bottom: 10px;
        padding-right: 150px;
    }

    .header-contacts-phone-city,
    .header-contacts-mail-text {
        font-family: 'GothamPro';
        font-size: 10px;
        line-height: 10px;
        color: #000000;
        opacity: 0.5;
        font-weight: bold;

    }

    .header-contacts-phone-city {
        margin: 0px;
        padding-left: 6px;
        text-transform: uppercase;
    }

    .header-contacts-mail-text {
        margin: 0px;
    }

    .header-contacts-phone-call,
    .header-contacts-mail-link {
        font-family: 'GothamPro';
        font-size: 15px;
        line-height: 14px;
        text-transform: uppercase;
        color: #000000;
        text-decoration: none;
        font-weight: bold;
    }

    .header-contacts-mail-link {
        text-transform: none;
    }

    .header-contacts-mail {
        padding-left: 79px;
        padding-top: 42px;
        position: relative;
    }


    .header-contacts-mail::before {
        content: '';
        position: absolute;
        background-image: url(../img/letter.svg);
        background-repeat: no-repeat;
        width: 24px;
        height: 28px;
        top: 45px;
        left: 43px;
    }

    .header-contacts-phone-call {
        padding-left: 6px;
    }

    .header-contacts-phone {
        padding-left: 26px;
        padding-top: 42px;
        position: relative;
    }

    .header-contacts-phone::before {
        content: '';
        position: absolute;
        background-image: url(../img/phone.svg);
        top: 46px;
        left: -1px;
        width: 26px;
        height: 26px;
        background-repeat: no-repeat;
    }

    .header-contacts-login-user,
    .header-contacts-products__cart {
        font-family: 'GothamPro';
        font-size: 10px;
        line-height: 10px;
        color: #000000;
        opacity: 0.5;
        font-weight: bold;
        margin: 0px;

    }

    .header-contacts-login-user {
        padding-left: 59px;
    }

    .header-contacts-login {
        padding-top: 45px;
        padding-left: 127px;
        position: relative;
    }

    .header-contacts-login::before {
        content: '';
        position: absolute;
        background-image: url(../img/person.svg);
        width: 21px;
        height: 20px;
        top: 46px;
        left: 283px;
        background-repeat: no-repeat;
    }

    .header-contacts-login-user-second,
    .header-contacts-products__cost-second {
        font-family: 'GothamPro';
        font-size: 15px;
        line-height: 14px;
        color: #000000;
        text-decoration: none;
        font-weight: bold;
    }

    .header-contacts-products__cost-second {
        margin: 0px;
        padding-left: 14px;
    }

    .header-contacts-products {
        padding-top: 46px;
        padding-left: 69px;
    }

    .header-contacts {
        display: flex;
        position: relative;
    }

    .header-contacts::before {
        content: '';
        position: absolute;
        background-color: #000;
        width: 26px;
        height: 18px;
        border-radius: 21%;
        top: 22px;
        left: 1116px;
    }

    .header-contacts::after {
        content: '';
        position: absolute;
        border: 4px solid transparent;
        border-top: 8px solid #000;
        border-radius: 21%;
        top: 37px;
        left: 1125px;
    }

    .header-contacts-logo {
        padding-left: 127px;
    }

    .header-contacts__img {
        background-color: #F3F3F3;
        padding-top: 20px;
        padding-bottom: 22px;
        padding-left: 15px;
        padding-right: 13px;
    }

    .header-contacts-products-wraper-link__cart {
        position: relative;
    }

    .header-contacts-products-wraper-link__cart::before {
        content: '';
        position: absolute;
        background-image: url(../img/cart.svg);
        width: 34px;
        height: 28px;
        top: -26px;
        left: 99px;
        background-repeat: no-repeat;
    }

    .header-contacts-products-wraper-link__cart::after {
        content: '2';
        position: absolute;
        font-family: 'GothamPro';
        font-size: 12px;
        line-height: 14px;
        color: #fff;
        font-weight: bold;
        top: -45px;
        left: 113px;
        background-repeat: no-repeat;
    }

    .furniture {
        font-family: 'GothamPro';
        font-size: 11.3023px;
        line-height: 11px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        text-decoration: none;
    }

    .section-wraper-list-laptop {
        list-style: none;
        display: flex;
        padding-left: 0px;
        margin: 0px;
    }

    .section-wraper-list-more__button {
        background: none;
        border: none;
        cursor: pointer;
        position: relative;
    }

    .section-wraper-list-more__button::before {
        content: '';
        position: absolute;
        border: 4px solid transparent;
        border-top: 7px solid #000;
        border-radius: 21%;
        top: 2px;
        left: 44px;
        background-repeat: no-repeat;
    }

    .section-wraper {
        padding-top: 32px;
    }

    .section-wraper-list-couch {
        position: relative;
    }

    .section-wraper-list-couch::before {
        content: '';
        position: absolute;
        background-image: url(../img/couch.svg);
        width: 37px;
        height: 37px;
        top: -44px;
        left: 12px;
        background-repeat: no-repeat;
    }

    .section-wraper-list-light {
        padding-left: 64px;
        position: relative;
    }

    .section-wraper-list-light::before {
        content: '';
        position: absolute;
        background-image: url(../img/lightes-laptop.svg);
        width: 37px;
        height: 37px;
        top: -44px;
        left: 102px;
        background-repeat: no-repeat;
    }

    .section-wraper-list-sofa {
        padding-left: 64px;
        position: relative;
    }

    .section-wraper-list-sofa::before {
        content: '';
        position: absolute;
        background-image: url(../img/sofa.svg);
        width: 57px;
        height: 37px;
        top: -45px;
        left: 67px;
        background-repeat: no-repeat;
    }

    .section-wraper-list-table {
        padding-left: 66px;
        position: relative;
    }

    .section-wraper-list-table::before {
        content: '';
        position: absolute;
        background-image: url(../img/tables.svg);
        width: 37px;
        height: 37px;
        top: -45px;
        left: 71px;
        background-repeat: no-repeat;
    }

    .section-wraper-list-seat {
        padding-left: 91px;
        position: relative;
    }

    .section-wraper-list-seat::before {
        content: '';
        position: absolute;
        background-image: url(../img/seat.svg);
        width: 37px;
        height: 37px;
        top: -43px;
        left: 106px;
        background-repeat: no-repeat;
    }

    .section-wraper-list-poufs {
        padding-left: 96px;
        position: relative;
    }

    .section-wraper-list-poufs::before {
        content: '';
        position: absolute;
        background-image: url(../img/poufes.svg);
        width: 37px;
        height: 37px;
        top: -44px;
        left: 99px;
        background-repeat: no-repeat;
    }

    .section-wraper-list-decor {
        padding-left: 76px;
        position: relative;
    }

    .section-wraper-list-decor::before {
        content: '';
        position: absolute;
        background-image: url(../img/decor.svg);
        width: 37px;
        height: 37px;
        top: -42px;
        left: 80px;
        background-repeat: no-repeat;
    }

    .section-wraper-list-lightes {
        padding-left: 67px;
        position: relative;
    }

    .section-wraper-list-lightes::before {
        content: '';
        position: absolute;
        background-image: url(../img/light-laptop.svg);
        width: 47px;
        height: 37px;
        top: -40px;
        left: 97px;
        background-repeat: no-repeat;
    }

    .section-wraper-list-more {
        padding-left: 53px;
        position: relative;
    }

    .section-wraper-list-more::before {
        content: '';
        position: absolute;
        background-image: url(../img/circle.svg);
        width: 40px;
        height: 35px;
        top: -45px;
        left: 59px;
        background-repeat: repeat;
    }

    .section {
        position: relative;
    }

    .section::before {
        content: '';
        position: absolute;
        border-top: 1px solid #EAEBED;
        width: 100%;
        top: -6px;
        left: 0px;
    }

    .footer {
        background-color: #000;
        padding-bottom: 26px;
    }

    .title {
        font-family: 'FuturaNew';
        font-size: 19px;
        line-height: 22px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .element {
        font-family: 'FuturaNew';
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
    }

    .footer-wraper-list-welcome__mail {
        font-family: 'FuturaNew';
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        font-weight: normal;
        background-color: #000;
        border: none;
        margin-top: 31px;
        outline: none;
    }

    input[type=text] {
        background-color: #000;
    }

    .footer-wraper-list-welcome__mail:focus,
    .footer-wraper-list-welcome__mail:active {
        outline: none;
        border-bottom-color: #75EFDA;
        transition: 0.1s;
        transition-delay: 0.2s;
        background: #000;
    }

    .footer-developers__protected {
        font-family: 'FuturaNew';
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        padding-right: 400px;
    }

    .footer-developers__politics {
        font-family: 'FuturaNew';
        font-size: 12px;
        line-height: 14px;
        text-align: right;
        text-decoration-line: underline;
        color: #FFFFFF;
        padding-left: 425px;
    }

    .footer-developers {
        padding-top: 111px;
    }

    .footer-wraper-list {
        list-style: none;
        margin: 0px;
        padding-left: 0px;
        flex-wrap: wrap;
        display: flex;
    }

    .footer-wraper-list-furniture,
    .footer-wraper-list-light,
    .footer-wraper-list-decor,
    .footer-wraper-list-company,
    .footer-wraper-list-welcome,
    .footer-wraper-list-news,
    .footer-wraper-list-other {
        display: grid;
    }

    .footer-wraper-list-welcome__insta {
        position: relative;
    }

    .footer-wraper-list-welcome__insta::before {
        content: '';
        position: absolute;
        background-image: url(../img/instagram.svg);
        width: 20px;
        height: 20px;
        top: 15px;
        left: 210px;
    }

    .footer-wraper-list-welcome__facebook {
        position: relative;
    }

    .footer-wraper-list-welcome__facebook::before {
        content: '';
        position: absolute;
        background-image: url(../img/facebook.svg);
        width: 20px;
        height: 20px;
        top: 15px;
        left: 240px;
    }

    .footer-wraper-list-welcome {
        padding-left: 124px;
        padding-top: 17px;
        position: relative;
    }

    .footer-wraper-list-welcome::before {
        content: '';
        position: absolute;
        background-color: #fff;
        height: 3px;
        width: 260px;
        top: 102px;
        left: 124px;
    }


    .footer-wraper-list-welcome__button {
        margin-left: 22px;
        width: 19px;
        height: 20px;
        border-radius: 52%;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .footer-wraper-list-welcome__button::before {
        content: '';
        position: absolute;
        background-image: url(../img/line.svg);
        height: 10px;
        width: 10px;
        top: 76px;
        left: 352px;
        background-repeat: no-repeat;
        border: 1px solid #fff;
        border-radius: 45%;
        padding: 2px;
        background-position: center;
    }

    .footer-wraper {
        padding-top: 45px;
    }

    .footer-wraper-list-furniture__bed,
    .footer-wraper-list-furniture__beds,
    .footer-wraper-list-furniture__couch,
    .footer-wraper-list-furniture__console {
        margin-top: 9px;
    }

    .footer-wraper-list-light {
        padding-left: 106px;
        padding-top: 19px;
    }

    .footer-wraper-list-light__title {
        margin: 0px;
    }

    .footer-wraper-list-light__chandelier {
        margin-top: 18px;
    }

    .footer-wraper-list-light__bra {
        margin-top: 9px;
    }

    .footer-wraper-list-light__torchere {
        margin-top: 10px;
    }

    .footer-wraper-list-light__lamp {
        margin-top: 9px;
    }

    .footer-wraper-list-light__painting {
        margin-top: 10px;
    }

    .footer-wraper-list-decor {
        padding-top: 19px;
        padding-left: 73px;
    }

    .footer-wraper-list-decor__title {
        margin: 0px;
    }

    .footer-wraper-list-decor__mirror {
        padding-top: 8px;
    }

    .footer-wraper-list-decor__statuette {
        padding-top: 4px;
    }

    .footer-wraper-list-decor__painting {
        padding-top: 3px;
    }

    .footer-wraper-list-company {
        padding-left: 121px;
        padding-top: 19px;
    }

    .footer-wraper-list-company__title {
        margin: 0px;
    }

    .footer-wraper-list-company__about {
        padding-top: 12px;
    }

    .footer-wraper-list-company__delivery {
        padding-top: 4px;
    }

    .footer-wraper-list-company__showroom {
        padding-top: 3px;
    }

    .footer-wraper-list-company__pay {
        padding-top: 3px;
    }

    .footer-wraper-list-welcome__title {
        margin: 0px;
        padding-left: 58px;
    }

    .footer-wraper-list-news {
        padding-top: 63px;
    }

    .footer-wraper-list-news__title {
        margin: 0px;
    }

    .footer-wraper-list-news__link {
        padding-top: 19px;
    }

    .footer-wraper-list-news__blog {
        padding-top: 8px;
    }

    .footer-wraper-list-other {
        padding-top: 63px;
        padding-left: 86px;
    }

    .footer-wraper-list-other__title {
        margin: 0px;
    }

    .footer-wraper-list-other__link {
        padding-top: 17px;
    }

    .footer-wraper-list-other__more {
        padding-top: 10px;
    }

    .section-catalog-wraper__title {
        font-family: 'GothamPro';
        font-size: 60px;
        line-height: 69px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        margin: 0px;
        width: 50px;
    }

    .section-catalog-wraper__subtitle {
        font-family: 'Georgia';
        font-size: 21px;
        line-height: 26px;
        color: #000000;
        font-weight: 400;
        margin: 0px;
        opacity: 0.7;
        text-align: left;
        padding-top: 19px;
    }

    .section-catalog-wraper__link {
        font-family: 'GothamPro';
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        background: linear-gradient(93.8deg, #807FD4 0%, #609CE2 0.01%, #2346FF 100%);
        box-shadow: 0px 5px 12px rgba(71, 120, 239, 0.6);
        border-radius: 4px;
        text-decoration: none;
        padding: 12px 10px 12px 12px;
        width: fit-content;
        margin-top: 49px;
        margin-left: 0px;
        padding: 20px 22px 16px 21px;

    }



    .slider {
        margin-top: 21px;
        width: 100%;
        text-align: left;
        overflow: hidden;
        padding-top: 22px;
        background-image: url(../img/bg-desktop.png);
        background-repeat: no-repeat;
    }

    .slides {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;

    }

    .slides::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .slides::-webkit-scrollbar-track {
        background: transparent;
    }

    .slides>div {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 100%;
        border-radius: 10px;
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        position: relative;
        justify-content: left;
        align-items: left;
        padding-bottom: 171px;
    }


    .author-info {
        background: rgba(0, 0, 0, 0.75);
        color: white;
        padding: 0.75rem;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
    }

    .author-info a {
        color: white;
    }

    .section-catalog__slide-first:active,
    .section-catalog__slide-second:active,
    .section-catalog__slide-third:active,
    .section-catalog__slide-fourth:active,
    .section-catalog__slide-fifth:active {
        background: #2D54FB;
        border-radius: 2px;
        width: 44px;
        height: 6px;
    }

    .section-catalog__slide-first,
    .section-catalog__slide-second,
    .section-catalog__slide-third,
    .section-catalog__slide-fourth,
    .section-catalog__slide-fifth {
        display: inline-flex;
        width: 10px;
        height: 6px;
        text-decoration: none;
        align-items: center;
        justify-content: left;
        border-radius: 50%;
        margin: 0 0 0.5rem 0;
        position: relative;

        background: #D7E4F4;
        border-radius: 2px;
    }

    .section-catalog-wraper__slide {

        display: grid;
        padding-top: 42px;
    }

    .section-catalog-buttons {
        padding-bottom: 39px;
        padding-left: 82px;
    }

    .section-catalog {
        position: relative;
    }

    .section-catalog::before {
        content: '';
        position: absolute;
        background-image: url(../img/seat-desktop.png);
        width: 100%;
        height: 100%;
        top: 2px;
        left: 576px;
        z-index: 1;
        background-repeat: no-repeat;
    }

    .feature {
        font-family: 'GothamPro';
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
    }

    .sometext {
        font-family: 'FuturaNew';
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #000000;
        opacity: 0.4;
    }

    .section-products-wraper {
        display: flex;
    }

    .section-products-wraper-delivery {
        position: relative;
    }

    .section-products-wraper-delivery::before {
        content: '';
        position: absolute;
        background-image: url(../img/delivery-desktop.svg);
        width: 26.84px;
        height: 26.08px;
        top: -43px;
        left: 120px;
    }

    .section-products-wraper-models {
        position: relative;
        padding-left: 23px;
    }

    .section-products-wraper-models::before {
        content: '';
        position: absolute;
        background-image: url(../img/models-desktop.svg);
        width: 27.27px;
        height: 30px;
        top: -41px;
        left: 148px;
    }

    .section-products-wraper-origin {
        position: relative;
    }

    .section-products-wraper-origin::before {
        content: '';
        position: absolute;
        background-image: url(../img/origin-desktop.svg);
        width: 26.37px;
        height: 22.91px;
        top: -35px;
        left: 148px;
    }

    .section-products-wraper-low {
        position: relative;
        padding-left: 24px;
    }

    .section-products-wraper-low::before {
        content: '';
        position: absolute;
        background-image: url(../img/low-desktop.svg);
        width: 28.79px;
        height: 30px;
        top: -43px;
        left: 148px;
    }

    .section-products-wraper-low::after {
        content: '%';
        position: absolute;
        font-family: 'GothamPro';
        font-size: 19px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-weight: bold;
        top: -37px;
        left: 155px;
    }

    .section-products-wraper {
        padding-top: 63px;
    }

    .section-products-wraper-delivery__title {
        margin: 0px;
        padding-top: 18px;
        padding-left: 35px;
    }

    .section-products-wraper-delivery__text {
        margin: 0px;
        padding-top: 24px;
        width: 263px;
    }

    .section-products {
        padding-top: 51px;
    }

    .section-products-wraper-models__title {
        margin: 0px;
        padding-left: 51px;
        padding-top: 19px;
    }

    .section-products-wraper-models__text {
        margin: 0px;
        padding-top: 24px;
        width: 263px;
        padding-left: 9px;
    }

    .section-products-wraper-origin__title {
        margin: 0px;
        padding-left: 63px;
        padding-top: 19px;
    }

    .section-products-wraper-origin__text {
        margin: 0px;
        padding-top: 24px;
        width: 263px;
        padding-left: 31px;
    }

    .section-products-wraper-low__title {
        margin: 0px;
        padding-left: 51px;
        padding-top: 19px;
    }

    .section-products-wraper-low__text {
        margin: 0px;
        padding-top: 24px;
        width: 263px;
        padding-left: 9px;
    }

    .section-products-chairs-item__title {
        font-family: 'FuturaNew';
        font-size: 17px;
        line-height: 19px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        width: 176px;
    }

    .section-products-chairs-item-created__subtitle {
        font-family: 'FuturaNew';
        font-size: 10px;
        line-height: 15px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        opacity: 0.5;
        width: 99px;
        margin: 0px;
        padding-left: 18px;
    }

    .section-products-chairs-item-created__link {
        font-family: 'FuturaNew';
        font-size: 10px;
        line-height: 15px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
        font-weight: bold;
        padding-top: 15px;
        padding-left: 3px;

    }

    .section-products-chairs-item-price__value {
        font-family: 'FuturaNew';
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;
        margin: 0px;
    }

    .section-products-chairs-item-price__oldvalue {
        font-family: 'FuturaNew';
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-decoration-line: line-through;
        text-transform: uppercase;
        color: #000000;
        opacity: 0.3;
        margin: 0px;
        font-weight: bold;
        padding-left: 16px;
        padding-top: 4px;
    }

    .section-products-chairs-item-price {
        display: flex;
        padding-top: 10px;
        padding-left: 20px;
    }

    .section-products-chairs-item-created {
        display: flex;
        padding-top: 13px;
    }

    .section-products-chairs {
        display: flex;
        flex-wrap: wrap;
        padding-top: 73px;
    }

    .section-products-chairs-item__wraper {
        display: flex;
        padding-top: 14px;
        padding-left: 23px;
    }

    .section-products-chairs-item {
        background-color: #fff;
        background: #FFFFFF;
        box-shadow: -20px 24px 64px #F6F6F6;
        position: relative;
    }

    .section-products-chairs-item::before {
        content: 'В наличии';
        position: absolute;
        font-family: 'FuturaNew';
        font-size: 10px;
        line-height: 15px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        top: -2px;
        left: -3px;
        background-color: #000;
        padding: 5px 6px 3px 7px;
    }

    .section-products-chairs-item__like {
        position: relative;
    }

    .section-products-chairs-item__like::before {
        content: '';
        position: absolute;
        background-image: url(../img/heart.svg);
        height: 18px;
        width: 19px;
        top: 0px;
        left: 33px;
        background-repeat: no-repeat;
    }

    .second,
    .third {
        margin-left: 33px;
        padding-bottom: 16px;
    }

    .fourth {
        margin-left: 24px;
        padding-bottom: 16px;
    }

    .section-products-bg {
        background-image: url(../img/background-desktop.png);
        width: 100%;
        background-repeat: no-repeat;

    }

    .fifth {
        margin-top: 31px;
        padding-bottom: 16px;
    }

    .sixth,
    .seventh {
        margin-top: 31px;
        margin-left: 32px;
        padding-bottom: 16px;
    }

    .eight {
        padding-bottom: 16px;
        margin-top: 30px;
        margin-left: 26px;
    }

    .section-products-list__title {
        font-family: 'GothamPro';
        font-size: 32px;
        line-height: 37px;
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        width: 309px;
        margin-bottom: 0px;
        text-align: left;
    }

    .section-products-list__description {
        font-family: 'GothamPro';
        font-size: 15px;
        line-height: 20px;
        color: #000000;
        width: 304px;
        padding-top: 11px;
        padding-bottom: 126px;
        text-align: left;
    }

    .section-products-list__more {
        font-family: 'GothamPro';
        font-size: 13px;
        line-height: 12px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        background: linear-gradient(93.8deg, #807FD4 0%, #609CE2 0.01%, #2346FF 100%);
        box-shadow: 0px 5px 12px rgb(71 120 239 / 60%);
        border-radius: 4px;
        text-decoration: none;
        padding: 20px 22px 16px 21px;
        padding: 16px 22px 11px 20px;
        border-radius: 7%;
    }

    .section-products-list {
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        margin-top: 109px;
    }

    .item-first {
        padding-top: 12px;
        padding-left: 61px;

        background-color: #F3F3F3;
        padding-bottom: 62px;
        padding-right: 284px;
    }

    .item-second {
        padding-left: 62px;
        padding-top: 11px;
        padding-right: 10px;
    }

    .item-third {
        padding-top: 22px;
        padding-left: 61px;
        padding-right: 150px;
        align-items: center;
    }

    .item-fourth {
        margin-left: 145px;
        margin-top: 11px;
        background-color: #F3F3F3;
        padding-left: 51px;
        padding-top: 11px;
        width: 45%;
        padding-bottom: 63px;
        padding-right: 293px;
    }

    .section-products-list__content {
        position: relative;
        width: calc(100% /4);
    }

    .section-products-list__content::before {
        content: '';
        position: absolute;
        background-image: url(../img/chair-second.png);
        width: 693px;
        height: 511px;
        top: 6px;
        left: 270px;
        background-repeat: no-repeat;
    }

    .about-wraper-company {
        font-family: 'GothamPro';
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        padding-left: 465px;
        margin: 0px;
        padding-top: 14px;
    }

    .about-wraper-shop {
        font-family: 'GothamBold';
        font-size: 37px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        width: 725px;
        padding-left: 199px;
        margin: 0px;
        padding-top: 33px;
    }

    .about-wraper-description__description {
        font-family: 'GothamPro';
        font-size: 16px;
        line-height: 29px;
        color: #000000;
        width: 348px;
        padding-top: 24px;
    }

    .about-wraper-description__title {
        font-family: 'FuturaNew';
        font-size: 20px;
        line-height: 21px;
        text-transform: uppercase;
        font-weight: bold;
        color: #000000;
        padding-top: 22px;
        margin: 0px;
        letter-spacing: 0.5px;
        width: 283px;
    }

    .about-wraper-description__sometext {
        font-family: 'GothamPro';
        font-size: 16px;
        line-height: 30px;
        width: 358px;
        padding-top: 14px;
        margin: 0px;
        color: #000000;
    }

    .about-wraper-description__text-second {
        font-family: 'GothamPro';
        font-size: 16px;
        line-height: 30px;
        color: #000000;
        width: 358px;
        padding-left: 62px;
        padding-top: 21px;
    }

    .about-wraper-description-link {
        font-family: 'FuturaNew';
        font-size: 15px;
        line-height: 23px;
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        text-decoration: none;
        margin-left: 592px;
        margin-top: 8px;
        letter-spacing: 1.8px;
        position: relative;
    }

    .about-wraper-description-link::before {
        content: '';
        position: absolute;
        background-image: url(../img/Arrow-desktop.svg);
        width: 48px;
        height: 8px;
        top: 5px;
        left: 256px;
        background-repeat: no-repeat;
    }

    .about-brands-bg {
        padding-top: 127px;
        background-image: url(../img/bg-other.png);
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: initial;
        padding-bottom: 105px;
    }

    .about-wraper-description {
        display: flex;
        padding-left: 172px;
        padding-bottom: 16px;
    }

    .about-wraper-bg {
        background-image: url(../img/bg-second.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    .about-brands-title {
        font-family: 'GothamBold';
        font-size: 37px;
        line-height: 52px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
    }

    .about-brands-value {
        display: flex;
        flex-wrap: wrap;
        padding-top: 16px;
    }

    .about-brands {
        padding-top: 105px;
    }

    .about-brands-value div {
        padding-right: 20px;
    }

    .about-brands-value-wraper-first img,
    .about-brands-value-wraper-second img,
    .about-brands-value-wraper-third img,
    .about-brands-value-wraper-fourth img,
    .about-brands-value-wraper-fifth img {
        padding-right: 14px;
        padding-left: 5px;
    }

    .about-brands-value-wraper-second {
        padding-top: 33px;
    }

    .about-brands-value-wraper-third {
        padding-top: 33px;
    }

    .about-brands-value-wraper-fourth {
        padding-top: 33px;
    }

    .about-brands-value-wraper-fifth {
        padding-top: 33px;
    }

    .about-brands-wraper {
        background-image: url(../img/bg-first.png);
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
    }



    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        /* text-align: center; */
        font-size: 18px;
        background-color: #F7F7F7;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        display: block;
    }

    .swiper {
        background-color: #F7F7F7;
        padding-top: 71px;
    }

    .swiper-slide-item-subtitle {
        font-family: 'GothamBold';
        font-size: 37px;
        line-height: 42px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        text-align: left;
        width: 443px;
        margin: 0px;
        padding-bottom: 21px;
    }

    .swiper-slide-item-link {
        font-family: 'GothamPro';
        font-size: 13px;
        line-height: 12px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        text-decoration: none;
        color: #000000;
        text-align: left;
        position: relative;
    }

    .swiper-slide-item-link::before {
        content: '';
        position: absolute;
        background-image: url(../img/Arrow-desktop.svg);
        width: 41px;
        height: 7px;
        top: 4px;
        left: 441px;
        background-repeat: no-repeat;
    }

    .swiper-slide-item {
        text-align: left;
        padding-left: 234px;
    }

    .swiper-slide-wraper-item__name,
    .swiper-slide-second__name {
        font-family: 'FuturaNew';
        font-size: 20px;
        line-height: 30px;
        color: #000000;
    }

    .swiper-slide-second__name {
        padding-left: 96px;
        margin: 0px;
        padding-top: 21px;
    }

    .swiper-slide-wraper-item__name {
        margin: 0px;
        padding-top: 20px;
        padding-left: 122px;
    }

    .swiper-slide-wraper-item__subtitle,
    .swiper-slide-second__subtitle {
        font-family: 'FuturaNew';
        font-size: 10px;
        line-height: 15px;
        text-transform: uppercase;
        color: #000000;
        opacity: 0.5;
    }

    .swiper-slide-second__subtitle {
        width: 200px;
        padding-left: 96px;
        margin: 0px;
        padding-top: 2px;
        padding-bottom: 4px;
    }

    .swiper-slide-wraper-item__subtitle {
        margin: 0px;
        padding-top: 3px;
        width: 212px;
        padding-left: 123px;
        padding-bottom: 4px;
    }

    .swiper-slide-wraper-item__link,
    .swiper-slide-second__link {
        font-family: 'FuturaNew';
        font-size: 16px;
        line-height: 20px;
        color: #626160;
        text-decoration: none;
    }

    .swiper-slide-second__link {
        padding-left: 96px;
    }

    .swiper-slide-wraper-item__link {
        padding-left: 123px;
    }

    .swiper-slide-wraper-item__text,
    .swiper-slide-second__text {
        font-family: 'FuturaNew';
        font-size: 16px;
        line-height: 23px;
        color: #000000;
    }

    .swiper-slide-second {
        padding-left: 47px;
        position: relative;
    }

    .swiper-slide-second a {
        opacity: 0.5;
    }

    .swiper-slide-second__name,
    .swiper-slide-second__subtitle {
        opacity: 0.5;
    }

    .swiper-slide-second::before {
        content: '';
        position: absolute;
        background-image: url(../img/Ellipse.svg);
        width: 125px;
        height: 130px;
        top: 6px;
        left: 20px;
        background-repeat: no-repeat;
        opacity: 0.5;
    }

    .swiper-slide-wraper-item__text {
        border-radius: 50px;
        width: 393px;
        padding: 32px 45px 35px 51px;
        margin-top: 23px;

    }




    .swiper-slide-wraper-item {
        position: relative;
        background-image: url(../img/rectangle.png);
        background-position: bottom;
        padding-bottom: 57px;
        padding-left: 17px;
        background-repeat: no-repeat;
        padding-right: 11px;
    }

    .swiper-slide-wraper-item::before {
        content: '';
        position: absolute;
        background-image: url(../img/Ellipse.svg);
        width: 125px;
        height: 130px;
        top: 6px;
        left: 16px;
        background-repeat: no-repeat;
    }

    .swiper-slide-second__text {
        width: 393px;
        padding-top: 39px;
        border-radius: 50px;
        padding: 32px 35px 35px 32px;
        margin-top: 23px;
        opacity: 0.7;
        position: relative;
    }

    .swiper-slide-second__text::before {
        content: '';
        position: absolute;
        background-image: url(../img/rectangle.png);
        top: -47px;
        left: -72px;
        width: 552px;
        height: 233px;
        z-index: -1;
    }

    .swiper-slide-wraper {
        display: flex;
        padding-top: 61px;
        text-align: left;
        padding-left: 92px;
    }

    .swiper-wrapper {
        position: relative;
    }

    .swiper-button-next:before {
        content: '';
        position: absolute;
        background-image: url(../img/Arrow.svg);
        width: 50px;
        height: 50px;
        top: -234px;
        left: -162px;
        border: 3px solid #000;
        border-radius: 62%;
        background-repeat: no-repeat;
        background-position: center;
        padding: 1px;
    }

    .swiper-button-next {
        position: relative;
    }

    .swiper-button-next::after {
        content: 'next';
        position: absolute;
        color: #F7F7F7;
    }

    .swiper-button-prev {
        position: relative;
    }

    .swiper-button-prev:before {
        content: '';
        position: absolute;
        background-image: url(../img/Arrow-left.svg);
        width: 50px;
        height: 50px;
        top: -234px;
        left: 1111px;
        border: 3px solid #000;
        border-radius: 62%;
        background-repeat: no-repeat;
        background-position: center;
        padding: 1px;
    }

    .swiper-button-prev::after {
        content: 'next';
        position: absolute;
        color: #F7F7F7;
    }

    .subscription-tag__title {
        font-family: 'GothamPro';
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        opacity: 0.2;
        margin: 0px;
        padding-left: 30px;
        padding-top: 26px;
    }

    .subscription-tag__subtitle {
        font-family: 'GothamBold';
        font-size: 24px;
        line-height: 37px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        margin: 0px;
        padding-left: 28px;
    }

    .subscription-tag-button {
        padding-left: 75px;
        padding-top: 42px;
    }

    .subscription-tag__link {
        font-family: 'GothamPro';
        font-size: 13px;
        line-height: 12px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        background: linear-gradient(93.8deg, #807FD4 0%, #609CE2 0.01%, #2346FF 100%);
        box-shadow: 0px 5px 12px rgb(71 120 239 / 60%);
        border-radius: 4px;
        text-decoration: none;
        padding: 14px 15px 11px 12px;
        border-radius: 7%;
    }

    .subscription {
        position: relative;
        padding-top: 34px;
    }

    .subscription-tag {
        content: '';
        background: #FFFFFF;
        box-shadow: -20px 4px 54px rgb(0 0 0 / 25%);
        border-radius: 6px;
        width: 422px;
        position: absolute;
        top: 110px;
        left: 136px;
        height: 103px;
        display: flex;
    }

    .subscription-img {
        width: 100%;
    }

    .blog-wraper__title {
        font-family: 'GothamBold';
        font-size: 37px;
        line-height: 42px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        margin: 0px;
        width: 590px;
        padding-left: 90px;
    }

    .blog-wraper__link {
        font-family: 'GothamPro';
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        text-decoration: none;
        padding-left: 256px;
        padding-top: 65px;
        position: relative;
    }

    .blog-wraper__link::before {
        content: '';
        position: absolute;
        background-image: url(../img/Arrow-desktop.svg);
        width: 41px;
        height: 7px;
        top: 73px;
        left: 407px;
        background-repeat: no-repeat;
    }

    .blog-wraper-all__time {
        font-family: 'Georgia';
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #000000;
        margin: 0px;
        padding-top: 17px;
        padding-left: 14px;
    }

    .blog-wraper-all__title {
        font-family: 'GothamPro';
        font-size: 18px;
        line-height: 17px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        margin: 0px;
        padding-left: 14px;
        padding-top: 11px;
    }

    .blog-wraper-all__text {
        font-family: 'GothamPro';
        font-size: 13px;
        line-height: 19px;
        color: #000000;
        opacity: 0.4;
        margin: 0px;
        padding-top: 8px;
        width: 266px;
        padding-left: 14px;
        padding-bottom: 59px;
    }

    .blog-wraper-all__read {
        font-family: 'GothamPro';
        font-size: 12px;
        line-height: 11px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        text-decoration: none;
        padding-left: 14px;
        position: relative;
    }

    .blog-wraper-all__read::before {
        content: '';
        position: absolute;
        background-image: url(../img/Arrow-desktop.svg);
        width: 41px;
        height: 7px;
        top: 2px;
        left: 154px;
        background-repeat: no-repeat;
    }

    .blog-wraper {
        display: flex;
    }

    .blog-wraper-all {
        display: flex;
        padding-top: 85px;
    }

    .blog {
        background: #F9F9F9;
        padding-bottom: 71px;
    }

    .blog-all {
        padding-top: 74px;
    }

    .blog-wraper-all__item-second {
        margin-left: 31px;
        background-color: #fff;
    }

    .blog-wraper-all__item-first {
        margin-left: 30px;
        background-color: #fff;
    }

    .blog-wraper-all__item {
        background-color: #fff;
        padding-bottom: 19px;
    }

    .YMaps {
        display: none;
        width: 600px;
        height: 400px;
    }



}